<h1 class='notif-title-own'>Not Signed In!</h1>

<div class="user-info-container-own">
  <p class='user-info-username-own'>Log in or register to begin.</p>
</div>
<div class="user-link-container-own">
  <%= link_to 'log in', new_user_session_path, class: "user-link-own" %>
  <%= link_to 'register', new_user_registration_path, class: "user-link-own" %>
</div>
