
.notifications-container-own.show-own.chat-extend-own {
  width: 980px;
}

.notifications-container-own.show-own.chat-extend-own
.current-option-container-own.active-option-own
.message-container-own {

  width: 880px;
  flex-direction: row;
}
